# Default values for recipe-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicasCount: 1

image:
  pullPolicy: Always
  registry: docker.io

ui:
  port: 5000
  image:
    tag: "0.2.0"
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 300Mi

recipesManager:
  config:
    log: debug
  port: 8080
  image:
    tag: "v0.4.0"
  drive:
    secrets: {}

recommender:
  port: 5000
  image:
    tag: "v0.1.0"
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 300Mi  
    
db:
  size: "5Gi"
  port: 27017
  image:
    name: mongo
    tag: 4
  limits:
    cpu: "1"
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 300Mi    

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []

resources: 
  limits:
    cpu: 100m

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
