apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipes-manager-database
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recipes-manager-database
  template:
    metadata:
      labels:
        app: recipes-manager-database
    spec:
      containers:
      - name: recipes-manager-database
        image: "{{ .Values.db.image.name }}:{{ .Values.db.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }} 
        ports:
        - containerPort: {{ .Values.db.port | default "27017" }}
          name: mongoport
        resources:
          limits:
            cpu: {{ .Values.db.limits.cpu | default "1" }}
            memory: {{ .Values.db.limits.memory | default "1Gi" }}
          requests:
            cpu: {{ .Values.db.requests.cpu | default "200m" }}
            memory: {{ .Values.db.requests.memory | default "300Mi" }}
        volumeMounts:
        - name: database-persistent-storage
          mountPath: /data
      volumes:
      - name: database-persistent-storage
        persistentVolumeClaim:
          claimName: recipes-manager-database-pv-claim              