apiVersion: apps/v1
kind: Deployment
metadata:
  name: recipes-manager-ui-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recipes-manager-ui-app
  template:
    metadata:
      labels:
        app: recipes-manager-ui-app
    spec:
      containers:
        - name: recipes-manager-ui
          image: "{{ .Values.image.registry }}/ottenwbe/recipes-manager-ui:{{ .Values.ui.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
          - containerPort: {{ .Values.ui.port | default "5000" }}
            name: ui
          readinessProbe:
            httpGet:
              path: /#/health
              port: ui                           
          resources:
            limits:
              cpu: {{ .Values.ui.limits.cpu | default "1" }}
              memory: {{ .Values.ui.limits.memory | default "1Gi" }}
            requests:
              cpu: {{ .Values.ui.requests.cpu | default "100m" }}
              memory: {{ .Values.ui.requests.memory | default "300Mi" }}
          volumeMounts:
          - name: config
            mountPath: "/app/src/strings.json"
            subPath: "strings.json"
            readOnly: true               
      volumes:
        - name: config
          configMap:
            name: recipes-manager-ui-config
            items:
            - key: "strings.json"
              path: "strings.json"                 